@import "../../Main-Scss//Vars.scss";

footer {
    background-color: $Dark-Color;
    .contact-us {
        @media screen and (max-width: 768px) {
            .content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0px !important;
                margin: 0px !important;
                .location-icon {
                    margin-top: 15px !important;
                }
            }
            h5 {
                text-align: left !important;
            }
        }
        @media screen and (max-width: 426px) {
            .content {
                display: inline-block;
                .location-icon {
                    margin-top: 0px !important;
                }
            }
        }
        i,
        svg {
            color: $Sucsess-Color;
            font-size: 20px;
        }
        a {
            color: white;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            color: $Sucsess-Color;
            transition: all 0.3s ease-in-out;
        }
    }
    .pepular-news {
        @media screen and (max-width: 768px) {
            .content {
                padding: 0px !important;
                margin: 0px !important;
            }
            h5 {
                text-align: left !important;
            }
        }
        h5 {
            color: white;
            text-transform: capitalize;
        }
        a {
            color: $Sucsess-Color;
            text-decoration: none;
        }
        a:hover {
            color: #50ba87;
        }
        .date {
            color: #aaa;
        }
    }
    .quick-links {
        @media screen and (max-width: 768px) {
            ul {
                li {
                    ::before {
                        left: -5px !important;
                    }
                }
            }
        }
        @media screen and (max-width: 426px) {
            ul {
                li {
                    ::before {
                        left: 16px !important;
                    }
                }
            }
        }
        @media screen and (max-width: 376px) {
            ul {
                li {
                    ::before {
                        left: 0px !important;
                    }
                }
            }
        }
        ul {
            list-style: none;
            li {
                position: relative;
                ::before {
                    content: "";
                    background-color: $Sucsess-Color;
                    border-radius: 50%;
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    left: -20px;
                    bottom: 8px;
                }
                a {
                    text-decoration: none;
                    color: white !important;
                }
            }
        }
    }
}

.copyright {
    background-color: $CopyRight;
}
