@import "../../Main-Scss//Vars.scss";

footer {
    background-color: $Dark-Color;
    margin-top: 18px;
    .contact-us {
        @media screen and (max-width: 768px) {
            .content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0px !important;
                margin: 0px !important;
                .location-icon {
                    margin-top: 15px !important;
                }
            }
            h5 {
                text-align: left !important;
            }
        }
        @media screen and (max-width: 426px) {
            .content {
                display: inline-block;
                .location-icon {
                    margin-top: 0px !important;
                }
            }
        }
        i,
        svg {
            color: $Sucsess-Color;
            font-size: 20px;
        }
        a {
            color: white;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            color: $Sucsess-Color;
            transition: all 0.3s ease-in-out;
        }
    }
    .pepular-news {
        @media screen and (max-width: 768px) {
            .content {
                padding: 0px !important;
                margin: 0px !important;
            }
            h5 {
                text-align: left !important;
            }
        }
        h5 {
            color: white;
            text-transform: capitalize;
        }
        a {
            color: $Sucsess-Color;
            text-decoration: none;
        }
        a:hover {
            color: #50ba87;
        }
        .date {
            color: #aaa;
        }
    }
    .quick-links {
        @media screen and (max-width: 768px) {
            ul {
                li {
                    ::before {
                        left: -5px !important;
                    }
                }
            }
        }
        @media screen and (max-width: 426px) {
            ul {
                li {
                    ::before {
                        left: 16px !important;
                    }
                }
            }
        }
        @media screen and (max-width: 376px) {
            ul {
                li {
                    ::before {
                        left: 0px !important;
                    }
                }
            }
        }
        ul {
            list-style: none;
            position: relative;
            li {
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            a:hover {
                color: $Sucsess-Color !important;
            }
        }
        ul li::before {
            content: "";
            background-color: $Sucsess-Color;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            position: absolute;
            margin: 8px 0px 0px -17px;
        }
    }
}

.copyright {
    background-color: $CopyRight;
    color: gray;
    transition: all 0.3s ease-in-out;
    p {
        .make-by {
            color: white;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
        }
        .make-by:hover {
            color: #50ba87;
            transition: all 0.3s ease-in-out;
        }
    }
    i:hover,
    svg:hover {
        color: $Sucsess-Color;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .privacy-policy span:hover {
        color: $Sucsess-Color;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}
